<!-- Redis-Graph2d sourced metrics stub for dbs -->
<div class='row' id='graphdiv'>
<!-- Used Memory -->
  <h4>Used Memory</h4>
  <div class='col-xs-10 col-xl-5' id='memgraph'>
  </div>
  <div class='col-xs-2 col-xl-1'></div><br>

<!-- Ops/sec -->
  <h4>RPS</h4>
  <div class='col-xs-10 col-xl-5' id='rpsgraph'>
  </div>
  <div class='col-xs-2 col-xl-1'></div><br>

<!-- Connections -->
  <h4>Client Connections</h4>
  <div class='col-xs-10 col-xl-5' id='congraph'>
  </div>
  <div class='col-xs-2 col-xl-1'></div><br>

<!-- CPU% over time -->
  <h4>CPU Percent</h4>
  <div class='col-xs-10 col-xl-5' id='cpugraph'>
  </div>
  <div class='col-xs-2 col-xl-1'></div><br>
</div>
