<div class='row' id='graphdiv'>
<!-- Client Connections -->
  <h4>Client Connections</h4>
  <div class='col-xs-10 col-xl-5' id='congraph'>
  </div>
  <div class='col-xs-2 col-xl-1'></div><br>

<!-- Forward Errors -->
  <h4>Forward Errors</h4>
  <div class='col-xs-10 col-xl-5' id='fegraph'>
  </div>
  <div class='col-xs-2 col-xl-1'></div><br>

<!-- Client Errors -->
  <h4>Client Errors</h4>
  <div class='col-xs-10 col-xl-5' id='cegraph'>
  </div>
  <div class='col-xs-2 col-xl-1'></div><br>
</div>
